/* privacy_policy_style.css */
body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: #333;
    color: #fff;
    padding: 5px 0;
    background-image: url('bg2.png');
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}

header nav ul {
    list-style: none;
    padding: 0;
    background-image: url('bg2.png');
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    background-image: url('bg2.png');
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}

header nav ul li a:hover {
    text-decoration: underline;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #333;
    
}

h1 {
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
    
}

h2 {
    margin-top: 30px;
}

ul {
    list-style: disc;
    margin-left: 20px;
    
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
    background-image: url('bg2.png');
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}

address {
    margin-top: 20px;
    
}
