<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voice Analysis</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/voice_analysis_style.css' %}">
</head>
<body>
    <h1>Voice Analysis</h1>
    <button onclick="startRecognition()">Start</button>
    <button onclick="stopRecognition()">Stop</button>
    <label id="recognized-text">Analysis Result:</label>
    
    <script>
        let recognition;
        let recognizing = false;
        let csrfToken = document.cookie.match(/csrftoken=([^ ;]+)/)[1];
  // Add CSRF token variable

        if ('webkitSpeechRecognition' in window) {
            recognition = new webkitSpeechRecognition();
            recognition.continuous = true;
            recognition.interimResults = true;

            recognition.onstart = function() {
                recognizing = true;
                console.log("Speech recognition started");
            };

            recognition.onerror = function(event) {
                console.error(event.error);
            };

            recognition.onend = function() {
                recognizing = false;
                console.log("Speech recognition ended");
            };

            recognition.onresult = function(event) {
                let finalTranscript = '';
                for (let i = event.resultIndex; i < event.results.length; ++i) {
                    if (event.results[i].isFinal) {
                        finalTranscript += event.results[i][0].transcript;
                    }
                }
                document.getElementById('recognized-text').innerText = 'Recognized Text: ' + finalTranscript;
                
                // Send the recognized text to the server
                sendTextToServer(finalTranscript);
            };
        } else {
            alert('Web Speech API is not supported in this browser.');
        }

        function startRecognition() {
            if (recognizing) {
                recognition.stop();
                return;
            }
            recognition.start();
        }

        function stopRecognition() {
            if (recognizing) {
                recognition.stop();
            }
        }

        // Function to send text to the server
        function sendTextToServer(text) {
            fetch('/emote_app/voice_analysis/', { 
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrfToken  
                },
                body: JSON.stringify({ recognized_text: text })
            })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);
                if (data.message) {
            document.getElementById('recognized-text').innerText =data.recognized_text;
        } else {
            console.error('Unexpected JSON format:', data);
        }
            })
            .catch((error) => console.error('Error:', error));
        }
    </script>
</body>
</html>
